<%= form_for @artifact, html: { class: 'form-horizontal' } do |f| %>
  <% if @artifact.errors.any? %>
    <div id="errorExplanation">
      <h2><%= pluralize(@artifact.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% @artifact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :file, nil, class: 'col-sm-2' %>
    <div class="col-sm-10">
      <%= f.file_field :file, class: 'form-control' %>
      <%= f.hidden_field :file_cache %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to "Back", artifacts_path, class: 'btn btn-default pull-right' %>
    </div>
  </div>
<% end %>
