<%= link_to "Upload", new_artifact_path, class: 'btn btn-default pull-right' %>

<%= form_tag artifacts_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search" %>
  <%= submit_tag "Search", class: 'btn btn-default' %>
  <%= link_to("Clear search", artifacts_path) if params[:search].present? %>
<% end %>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Uploaded by</th>
      <th>Uploaded at</th>
    </tr>
  </thead>
  <tbody>
    <% @artifacts.each do |artifact| %>
      <tr>
        <td><%= link_to artifact.file_identifier, artifact, class: 'siimple-link' %></td>
        <td><%= artifact.file.size %></td>
        <td><%= artifact.creator.email %></td>
        <td><%= artifact.created_at %></td>
      </tr>
      <% if params[:search].present? %>
        <tr class="search-result-blurb">
          <td colspan="4">
            <% result = @results.find{ |r| r.id.to_i == artifact.id } %>
            <% if result.highlight.key? 'es_file.content' %>
              <% result.highlight['es_file.content'].each do |snippet| %>
                <p><%= snippet.html_safe %> ...</p>
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
