<%= link_to "Upload", new_artifact_path, class: 'btn btn-default pull-right' %>

<%= form_tag artifacts_path, method: :get, class: 'form-inline' do %>
  <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search" %>
  <%= submit_tag "Search", class: 'btn btn-default' %>
  <%= link_to("Clear search", artifacts_path) if params[:search].present? %>
<% end %>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Uploaded by</th>
      <th>Uploaded at</th>
      <% if current_user %>
        <% cols = 5 %>
        <th></th>
      <% else %>
        <% cols = 4 %>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @artifacts.each do |artifact| %>
      <% result = @results.find{ |r| r.id.to_i == artifact.id } %>
      <tr>
        <td>
          <% if result && result.highlight.key?('filename') %>
            <%= link_to result.highlight['filename'].first.html_safe, artifact %>
          <% else %>
            <%= link_to artifact.filename, artifact %>
          <% end %>
        </td>
        <td><%= artifact.file.size.fdiv(1024).fdiv(1024).round(2) %> MB</td>
        <td><%= artifact.creator.email %></td>
        <td><%= artifact.created_at %></td>
        <% if current_user %>
          <td><%= link_to "edit", edit_artifact_path(artifact) %></td>
        <% end %>
      </tr>
      <% if result && result.highlight.key?('es_file.content') %>
        <tr class="search-result-blurb">
          <td colspan="<%= cols %>">
            <h5>Content:</h5>
            <% result.highlight['es_file.content'].each do |snippet| %>
              <p><%= snippet.html_safe %> ...</p>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if result && result.highlight.key?('description') %>
        <tr class="search-result-blurb">
          <td colspan="<%= cols %>">
            <h5>Description:</h5>
            <% result.highlight['description'].each do |snippet| %>
              <p><%= snippet.html_safe %> ...</p>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
